body{
    background-color: #83dbf4;
    text-align: center;
}
h1
{
    text-align: center;
}
h2
{
    text-align: center;
}
img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    
    align-items: center;
}
/*button
{
    align-items: center;
    
    text-decoration: none;
    color: black;
}*/
.i1
{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 25%;
}
.b1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .ci1
  {
    height: 300px;
    width: 400px;
  }
  .ci2
  {
    height: 300px;
    width: 400px;
  }